/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29 May, 2019, 9:46:10 AM
    Author     : Lenovo
*/
#label
{
    align-self: auto;
    color: #00ffff;
}
#vis
{
    position: absolute;
    right: 400px;
    top: 50px;
    background-color: #0000cc;
    color: yellow;
    height: 50px;
    width: 100px;

}
#hit
{
    position: absolute;
    right: 150px;
    top :50px;
    background-color: #0000cc;
    color: yellow;
    height: 50px;
    width: 100px;
}
#myImg {
    position :absolute;
    left:20px;
    right:400px;
    width:400px;
    height:120px;
    padding-top: 10px;

}
header{
    height: 160px;
    background-color: #777;
}
.dropdown{
    position: absolute;
    right: 270px;
    top: 50px;
    display: inline-block;
}
.dropbtn{
    height: 50px;
    width: 100px;
    background-color: #0000cc;
    color: yellow;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 100px;
}
.dropdown-content a{
    display: block;
    height: 20px;
    width: 100px;
    background-color: #0000cc;
    color: yellow;

}
.dropdown:hover .dropdown-content {
    display: block;
}
#art{
    position: fixed;
    left: 20px;
    width: 50%;
    height: 100%;

}
#con{

    position: absolute;
    left: 900px;
    top:25%;
    height: 500px;
    width: 40%;
    overflow: scroll;
    
}
footer {
    background-color: #777;
    padding: 20px;
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%; 
    height: 70px;
}
#log{    
    position :absolute;
    top:160px;
    height: 573px;
    width:100%;
    left: 0px;
    background-image: url(p1.jpeg);
    background-color: #00ffff;

}
